h1 {
  font-family: 'Fugaz One';
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 200;
}

centercomplete {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  width: 90%;
}

#home {
  background: url("../assets/home.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
	background-attachment: fixed;
}

#home centercomplete {
  top: 50%;
}

#home h1 {
  color: #ECFE0B;
  font-size: 7rem;
  margin-bottom: -10px;
  margin-top: 20px;
}

#home h2, p {
  font-family: 'Fugaz One';
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}

#home p {
  width: 400px;
  padding-top: 10px;
  display: table-cell;
  vertical-align: center;
}

#home p:hover {
  background-color: #FF5533;
}

#home .social {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 25px;
  padding-left: 25px;
}

#home i {
  font-size: 2.5rem;
  color: white;
  padding-top: 15px;
}

#home i:hover {
  color: #ECFE0B;
}

#home .gonzalez {
  width: 5.5rem;
  padding-top: 25px;
  padding-left: 25px;
}

#about {
  background-color: white;
  background-size: cover;
  height: 120%;
  width: 100%;
  background-attachment: fixed;
}

#about centercomplete {
  top: 160%;
}

#about h1 {
  color: #06566E;
}

#about p {
  font-family: 'Monda';
  font-size: 2rem;
  color: #353535;
  line-height: 1.5;
  text-transform: none;
}

#about .profile {
  width: 350px;
}

#education {
  background-image: url("../assets/education.jpg");
  background-position: center 80%;
  background-size: cover;
  height: 120%;
  width: 100%;
  background-attachment: fixed;
}

#education centercomplete {
  top: 280%;
}

#education h1 {
  color: #FF5533;
}

#education p {
  font-family: 'Monda';
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.5;
  text-transform: none;
}

#experience {
  background-image: url("../assets/experience.jpg");
  background-position: center 0%;
  background-size: cover;
  height: 120%;
  width: 100%;
  background-attachment: fixed;
}

#experience centercomplete {
  top: 400%;
}

#experience h1 {
  color: #ECFE0B;
}

#experience h2 {
  font-family: 'Monda';
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  color: #06566E;
  background-color: white;
  width: 100%;
  text-align: center;
}

#experience h2:hover {
  color: white;
  background-color: #FF5533;
}

#experience h3 {
  font-family: 'Monda';
  font-size: 2.5rem;
  color: white;
  line-height: 1.25;
}

#experience ul {
  font-family: 'Monda';
  color: white;
  line-height: 1.15;
}

#experience li {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 15px;
}

#experience .logo {
  width: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

#involvement {
  background-image: url("../assets/involvement.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 120%;
  width: 100%;
  background-attachment: fixed;
}

#involvement centercomplete {
  top: 520%;
}

#involvement h1 {
  color: #FF5533;
}

#involvement h2 {
  font-family: 'Monda';
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  line-height: 1.25;
}

#involvement p {
  font-family: 'Monda';
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
  text-transform: none;
}
